[Unit]
Description=Nitor backend service
After=network.target

[Service]
User=${username}
Group=${username}

StandardInput=socket
WorkingDirectory=${install.dir}
RuntimeDirectory=backend
ExecStart=/usr/bin/java -Xmx512M -Xss512k -XX:+UseG1GC -XX:+UseLargePages -XX:+ExitOnOutOfMemoryError -Dvertx.cacheDirBase=/run/backend -jar ${install.dir}/${project.build.finalName}.jar -conf ${install.dir}/config.json
Restart=always
RestartSec=10

# process limits
LimitNOFILE=10240
LimitNPROC=10240
LimitMEMLOCK=infinity

# stricter security
CapabilityBoundingSet=
ProtectSystem=full
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target

