[Unit]
Description=HTTP to HTTPS redirector
After=network.target

[Service]
User=nobody
Group=nobody
DynamicUser=yes

StandardInput=socket
WorkingDirectory=/tmp
ExecStart=/usr/bin/java -Xss256k -Xmx64M -cp /opt/nitor/backend-1.0.0-fat.jar io.nitor.api.backend.ToHttpsRedirect
Restart=always
RestartSec=10
Nice=5

# stricter security
ProtectSystem=full
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
PrivateDevices=yes
PrivateNetwork=yes

[Install]
WantedBy=multi-user.target

