Package: [[name]]
Version: [[version]]
Section: httpd
Priority: low
Architecture: all
Maintainer: Mikko Tiihonen <mikko.tiihonen@nitor.fi>
Description: [[description]]
Depends: java8-runtime-headless
