[Unit]
Description=HTTP to HTTPS redirector
After=network.target

[Service]
User=nobody
Group=nobody
DynamicUser=yes

StandardInput=socket
WorkingDirectory=/tmp
ExecStart=/usr/bin/java -Xss256k -Xmx64M -jar ${install.dir}/${artifactId}/${project.build.finalName}.jar
Restart=always
RestartSec=10
Nice=5

# stricter security
CapabilityBoundingSet=
ProtectSystem=full
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
PrivateDevices=yes
PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target

